:root {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%}
body {
    margin: 0;
}
body {
    font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji;
}
input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
	pointer-events: all;
}
summary {
    display: list-item;
}
h1, h2, h3, p {
    margin: 0;
    pointer-events: all;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
	pointer-events: all;
}
html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    line-height: 1.5;
}
body {
    font-family: inherit;
    line-height: inherit;
}
*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: initial;
}
img {
    border-style: solid;
	pointer-events: all;
}
input::-moz-placeholder {
    color: #a1a1aa;
	pointer-events: all;
}
input:-ms-input-placeholder {
    color: #a1a1aa;
	pointer-events: all;
}
input::placeholder {
    color: #a1a1aa;
	pointer-events: all;
}
h1, h2, h3 {
    font-size: inherit;
    font-weight: inherit;
	pointer-events: all;
}
a {
    color: inherit;
    text-decoration: inherit;
	pointer-events: all;
}
input {
    padding: 0;
    line-height: inherit;
    color: inherit;
	pointer-events: all;
}
img, svg {
    display: block;
    vertical-align: middle;
	pointer-events: all;
}
img {
    max-width: 100%;
    height: auto;
	pointer-events: all;
}
:root {
    --color-background: 46,  52,  64;
    --color-on-background: 236,  239,  244;
    --color-variant-on-background-subtle: 229,  233,  240,  1;
    --color-variant-on-background-muted: 183,  194,  215,  1;
    --color-variant-on-background-active: 229,  233,  240,  1;
    --color-variant-on-background-hover: 216,  222,  233,  1;
    --color-variant-on-background-focus: 183,  194,  215,  1;
    --color-surface: 59,  66,  82;
    --color-on-surface: 236,  239,  244;
    --color-foreground: 67,  76,  94;
    --color-on-foreground: 236,  239,  244;
    --color-attention-primary: 143,  188,  187;
    --color-attention-secondary: 136,  192,  208;
    --color-attention-tertiary: 129,  161,  193;
    --color-attention-quaternary: 94,  129,  172;
}
@media(prefers-color-scheme:light) {
    :root {
    --color-background: 236,  239,  244;
    --color-on-background: 76,  86,  106;
    --color-variant-on-background-subtle: 76,  86,  106,  1;
    --color-variant-on-background-muted: 97,  110,  136,  1;
    --color-variant-on-background-active: 59,  66,  82,  1;
    --color-variant-on-background-hover: 67,  76,  94,  1;
    --color-variant-on-background-focus: 76,  86,  106,  1;
    --color-surface: 229,  233,  240;
    --color-on-surface: 67,  76,  94;
    --color-foreground: 216,  222,  233;
    --color-on-foreground: 59,  66,  82;
    --color-attention-primary: 129,  161,  193;
    --color-attention-secondary: 94,  129,  172;
    --color-attention-tertiary: 136,  192,  208;
    --color-attention-quaternary: 143,  188,  187;
    --color-error: 191,  97,  106;
    --color-on-error: 59.7806649,  24.216335099999995,  27.621430506383;
    --color-danger: 208,  135,  112;
    --color-on-danger: 87.28203239999999,  42.729170625,  28.69196760000001;
    --color-warning: 235,  203,  139;
    --color-on-warning: 144.97850069999998,  104.98716689999998,  25.004499300000006;
    --color-success: 163,  190,  140;
    --color-on-success: 61.585725239999974,  80.47593450000001,  45.49406549999999;
    --color-uncommon: 180,  142,  173;
    --color-on-uncommon: 46,  52,  64;
    --color-polar-night-0: 46,  52,  64;
    --color-polar-night-1: 59,  66,  82;
    --color-polar-night-2: 67,  76,  94;
    --color-polar-night-3: 76,  86,  106;
    --color-snow-storm-0: 216,  222,  233;
    --color-snow-storm-1: 229,  233,  240;
    --color-snow-storm-2: 236,  239,  244;
    --color-frost-0: 143,  188,  187;
    --color-frost-1: 136,  192,  208;
    --color-frost-2: 129,  161,  193;
    --color-frost-3: 94,  129,  172;
    --color-aurora-0: 191,  97,  106;
    --color-aurora-1: 208,  135,  112;
    --color-aurora-2: 235,  203,  139;
    --color-aurora-3: 163,  190,  140;
    --color-aurora-4: 180,  142,  173;
}
}@media(prefers-color-scheme:dark) {
    :root {
    --color-background: 46,  52,  64;
    --color-on-background: 236,  239,  244;
    --color-variant-on-background-subtle: 229,  233,  240,  1;
    --color-variant-on-background-muted: 183,  194,  215,  1;
    --color-variant-on-background-active: 229,  233,  240,  1;
    --color-variant-on-background-hover: 216,  222,  233,  1;
    --color-variant-on-background-focus: 183,  194,  215,  1;
    --color-surface: 59,  66,  82;
    --color-on-surface: 236,  239,  244;
    --color-foreground: 67,  76,  94;
    --color-on-foreground: 236,  239,  244;
    --color-attention-primary: 143,  188,  187;
    --color-attention-secondary: 136,  192,  208;
    --color-attention-tertiary: 129,  161,  193;
    --color-attention-quaternary: 94,  129,  172;
}
}body {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-on-background), 1);
}
.markdown a, a:hover {
    color: rgba(var(--color-attention-secondary), 1);
}
a:hover {
    background-color: rgba(var(--color-surface), 1);
    border-radius: .125rem;
}
.markdown blockquote {
    background-color: #303d42a8;
    border-color: rgba(var(--color-on-foreground), 1);
}
.markdown td, .markdown th {
    background-color: rgba(var(--color-foreground), 1);
    border-color: rgba(var(--color-surface), 1);
}
.markdown th {
    background-color: rgba(var(--color-surface), 1);
}


body {
    display: flex;
	text-align: center;
    flex-direction: column;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
    font-size: 1.125rem;
    min-height: 100vh;
    letter-spacing: .1em;
}
main {
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 48rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}
h1 {
    font-size: 1.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
	overflow-wrap: anywhere;
}
h2 {
    font-size: 1.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
	overflow-wrap: anywhere;
}
h3 {
    overflow-wrap: anywhere;
    font-size: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.markdown {
    font-size: 1.125rem;
}
.markdown h1, .markdown h2 {
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
.markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-weight: 600;
    font-size: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.markdown p {
    margin-bottom: 1rem;
    font-size: 14;
    text-align: justify;
}
.markdown ul, .markdown ol {
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.markdown li>p, .markdown li>ul, .markdown li>ol {
    margin-bottom: 0;
}
.markdown ol {
    list-style-type: decimal;
}
.markdown ul {
    list-style-type: disc;
}
.markdown blockquote {
    border-left-width: 4px;
    /* margin-left: 0; */
    margin-bottom: 1rem;
    padding: 0;
    padding: 20px;
    /* font-style: italic; */
    /* width: 100%; */
}
.markdown blockquote>p {
    margin-bottom: 0;
}
.markdown table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 100%}
.markdown td, .markdown th {
    border-width: 1px;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding: 20px;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.hidden {
    display: none;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.items-center {
    align-items: center;
}
.self-stretch {
    align-self: stretch;
}
.justify-center {
    justify-content: center;
}
.font-normal {
    font-weight: 400;
}
.font-bold {
    font-weight: 700;
}
.h-4 {
    height: 1rem;
}
.text-xs {
    font-size: .75rem;
}
.text-sm {
    font-size: .875rem;
}
.text-base {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.125rem;
}
.text-5xl {
    font-size: 3rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.mt-2 {
    margin-top: .5rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.p-4 {
    padding: 1rem;
}
.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.pt-5 {
    padding-top: 1.25rem;
}
.pt-8 {
    padding-top: 2rem;
}
.pt-10 {
    padding-top: 2.5rem;
}
.pt-32 {
    padding-top: 8rem;
}
* {
    --tw-shadow: 0 0 #0000;
}
* {
    --tw-ring-inset:
    var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #536c6a80;
    --tw-ring-color:
    rgba(59,  130,  246,  0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    text-align: left;
}
.fill-current {
    fill: currentColor;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.italic {
    font-style: italic;
}
.lowercase {
    text-transform: lowercase;
}
.w-4 {
    width: 1rem;
}
.w-full {
    width: 100%}
@-webkit-keyframes spin {
    to {
    transform: rotate(360deg);
}



}@keyframes spin {
    to {
    transform: rotate(360deg);
}
}@keyframes ping {
    75%, 100% {
    transform: scale(2);
    opacity: 0;
}
}@keyframes pulse {
    50% {
    opacity: .5;
}
}@keyframes bounce {
    0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(.8, 0, 1, 1);
}
50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
    animation-timing-function: cubic-bezier(0, 0, .2, 1);
}
}@media(min-width:640px) {
    .sm\: space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem * var(--tw-space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)));
}


.sm\:block {
    display: block;
}
.sm\:flex {
    display: flex;
}
.sm\:hidden {
    display: none;
}
.sm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.sm\:mt-0 {
    margin-top: 0;
}
.sm\:mt-16 {
    margin-top: 4rem;
}
.sm\:w-auto {
    width: auto;
}
}@media(min-width:768px) {
    .md\: mx-12 {
    margin-left: 3rem;
    margin-right: 3rem;
}
}@media(min-width:1024px) {
    .lg\: mx-24 {
    margin-left: 6rem;
    margin-right: 6rem;
}
}

$text: #fff;
$link: #e34234;
$link-hover: #ba160c;
$background: #00356B;

canvas {
  display: block;
  vertical-align: bottom;
}



.text {
  position: absolute;
  align-self: center;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  color: $text;
  max-width: 90%;
  padding: 2em 3em;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px #131415;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  letter-spacing: -1px;
}

a,
a:visited {
  color: $link;
  transition: 0.25s;
}

a:hover,
a:focus {
  color: $link-hover;
}

.w-full_main {
    width: 100%;
	position: inherit;
	pointer-events: none;
	}
@-webkit-keyframes spin {
    to {
    transform: rotate(360deg);
}

}








@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
:root{
    --primary-color: rgba(20, 177, 177, 0.5);
    --overlay-color: rgba(24,39,51,0.85);
    --menu-speed: 0.75s;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
.showcase{
    /* background-color: var(--primary-color); */
    color: #fff;
    height: 100vh;
    position: relative;
}
.showcase:before{
    content: '';
    background: url('https://images.pexels.com/photos/37839/pexels-photo-37839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.showcase .showcase-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.showcase h1{
    font-size: 4rem;
}
.showcase p{
    font-size: 1.3rem;
}
.btnn{
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
    border-radius: 2rem;
}
.btnn:hover{
    opacity: 0.7;
}
.contact-links{
    display: flex;
    justify-content: center;
    width: 200px;
    max-width: 980px;
    flex-wrap: wrap;
    margin-left: 54.5rem; 
    margin-top: -12rem;
}
.contact-details{
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease-out; 
  }
  .contact-details:hover{
    transform: translateY(5px);
  }
  
.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    /* background: var(--primary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger >div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div:after{
    top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background-color: var(--overlay-color);
    border-radius: 0%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0); 
    transition: all 0.4s ease;
}
.menu-wrap .menu > div >div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
     opacity: 0; 
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
}

.menu-wrap .menu >div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}


















@media (prefers-color-scheme: light) {
    :root {
        --text: #151515;
        --accent: #1688f0;
        --bg-main: #fff;
        --bg-repo: #f0f0f0;
        --bg-user: #f5f5f5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #e5e5e5;
        --accent: #1688f0;
        --bg-main: #000;
        --bg-repo: #0f0f1a;
        --bg-user: #0a0a0f;
    }
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 800px;
}


.github-img {
    width: 45px;
    margin-right: 8px;
}


.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-user);
    color: var(--text);
    font-size: 18px;
    padding: 2em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.user-info figure {
    width: 90%;
    max-width: 200px;
}

.user-info img {
    border-radius: 100%;
}

.user-info div {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding-left: 5%;
}

.user-info div p {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--text);
    padding-bottom: 18px;
}

.filter-repos,
input {
    background: #0a0a0f00;
    width: 50%;
    border-radius: 20px;
    min-width: 300px;
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid #1688f000;
    color: var(--text);
    text-align: center;
    font-size: 0;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff00;
    margin-top: 0;
    padding: 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 4em;
    width: 100%;
}

h3 {
    margin: 4px;
    width: 100%;
    text-align: center;
}

.repo-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.repo-list li {
    width: 100%;
    min-height: 180px;
    border-radius: 0px;
    padding: 1em;
    text-align: center;
    background-color: #434c5e69;
	margin: 10px
}

.repo-list li:hover {
    /* background-color: var(--bg-main); */
    /* box-shadow: 0 3px 6px var(--accent), 0 3px 6px var(--accent); */
}

.link-btn {
    padding: 10px 20px;
    background: #0000;
    border-radius: 0px;
    border: 2px solid #ffffff1c;
    /* color: var(--text); */
}

.link-btn:hover {
    background: #00000040;
    border: 2px solid var(--text);
    transform: scale(1.1);
}

.repo-list p {
    padding: 0em 0.5em;
    margin: 0.5em 0;
}

@media (min-width: 100%) {
    .user-info div {
        width: 45%;
        text-align: left;
    }

    .repo-list {
        justify-content: center;
    }

    .repo-list li {
        width: 48%;
    }
}

@media (max-width: 700px) {
    .user-info div p {
        margin: 10px;
    }
}

@media (min-width: 1200px) {
    .repo-list li {
        /* width: 30%; */
    }
}
